


<p>
  <%= link_to '<span class="glyphicon glyphicon-pencil" alt="Delete Comment"></span>'.html_safe, [comment.post, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class=> "btn btn-danger" %>
   <strong> <%= comment.commenter %> </strong>
  <%= comment.body %>
</p>


<p>
</p>


