

<% if comment.created_at.nil_zero? %>



<% else %>

    <tr >

      <td rowspan="2" class="danger">
        <%= link_to '<span class="glyphicon glyphicon-trash" alt="Delete Comment"></span>'.html_safe, [comment.post, comment],
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, :class=> "btn btn-danger" %>
      </td>
      <td>
        <strong> [<%= comment.created_at.strftime("%m/%d/%Y at %I:%M%p") %>] <%= comment.commenter %>:</strong>
      </td>

    </tr>

    <tr >

      <td>
      </td>
      <td>
        <%= comment.body %>
      </td>

    </tr>









<% end %>
