

<% if comment.created_at.nil_zero? %>

    NOT RENDERING COMMENT because it is NULL

<% else %>

<p>

   <strong> [<%= comment.created_at %>] <%= comment.commenter %>:</strong>
   <br/>
  <%= link_to '<span class="glyphicon glyphicon-trash" alt="Delete Comment"></span>'.html_safe, [comment.post, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class=> "btn btn-danger" %>

  <%= comment.body %>
</p>


<p>
</p>

<% end %>
