<% @title= "RubyRaptor Sample App" %>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-top" style="margin-bottom:0px;" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="float:left;" href="https://github.com/mkallen/rubyraptor"> <%= image_tag "/assets/shellraptor_logo.png", :style => "width:125px" %> </a>
      <a class="navbar-brand" style="color:rgb(207, 74, 72);" href="https://panel.cloudatcost.com">RubyRaptor</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ><%= link_to 'Home', welcome_index_path %></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li ><%= link_to 'Sample App', posts_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>



