
<%= render "welcome/header" %>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron alert-danger">
  <div class="container ">
    <h2><b>Ruby on Rails Sample App</b></h2>
    <p>This is a sample app created using the Rails Getting Started tutorial, my 'RubyRaptor' Debian7 CloudAtCost server,
      Vim text editor, RubyMine IDE, and bootstrap-sass css.</p>
    <p>
      <%= link_to '<span class="glyphicon glyphicon-star"></span> The Blog App &raquo;'.html_safe, posts_path, :class=> "btn btn-danger btn-lg" %>
    </p>
  </div>
</div>

<div class="container theme-showcase">


<h3> These pages are a work-in-progress  </h3>

<p/>






Combining Easel.js and Box2d Demo.<br/>
Note: This demo only works in modern browsers.<br/><br/>
<canvas width="500" height="500" id="demoCanvas"></canvas>
<canvas width="500" height="500" id="debugCanvas"></canvas>
<div id="paused">Paused. Click to resume.</div><br/>
<div id="debug" class="button">Show/Hide Debug</div>
<script type="text/javascript" src="http://www.luxanimals.com/tutorials/birds/libs/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="http://www.luxanimals.com/tutorials/birds/libs/easel.js"></script>
<script type="text/javascript" src="http://code.createjs.com/createjs-2013.12.12.min.js"></script>
<script type="text/javascript" src="http://www.luxanimals.com/tutorials/birds/libs/Box2dWeb-2.1.a.3.min.js"></script>
<script type="text/javascript">

    var crunchycreatures = {};

    crunchycreatures.demo = (function() {

        // Box2d vars
        var b2Vec2 = Box2D.Common.Math.b2Vec2;
        var b2BodyDef = Box2D.Dynamics.b2BodyDef;
        var b2Body = Box2D.Dynamics.b2Body;
        var b2FixtureDef = Box2D.Dynamics.b2FixtureDef;
        var b2Fixture = Box2D.Dynamics.b2Fixture;
        var b2World = Box2D.Dynamics.b2World;
        var b2PolygonShape = Box2D.Collision.Shapes.b2PolygonShape;
        var b2CircleShape = Box2D.Collision.Shapes.b2CircleShape;
        var b2DebugDraw = Box2D.Dynamics.b2DebugDraw;

        // demo vars
        var canvas, context, debugCanvas, debugContext;
        var birdDelayCounter = 0; // counter for delaying creation of birds
        var focused = true;

        //canvas setup vars
        var canvasW, canvasH, loader;
        var sky;

        $('#debug').on('click', function() { $('#debugCanvas').toggle(); });  // toggle debug view

        $(document).ready(function() {
            // setup functions to run once page is loaded
            setup.canvas();
            setup.ticker();
            box2d.setup();
            window.onfocus = onFocus;
            window.onblur = onBlur;
        });

        function onFocus() { focused = true; box2d.pauseResume(false); $('#paused').css({'display':'none'}); }
        function onBlur() { focused = false; box2d.pauseResume(true); $('#paused').css({'display':'block'}); }

        /* ------ SETUP ------- */
// initial setup of canvas, contexts, and render loop

        var setup = (function() {



            var canvas = function() { //init()
                canvas = document.getElementById('demoCanvas');
                debugCanvas = document.getElementById('debugCanvas');
                context = canvas.getContext('2d');
                debugContext = debugCanvas.getContext('2d');
                stage = new Stage(canvas);
                stage.snapPixelsEnabled = true;


                // grab canvas width and height for later calculations:
                canvasW = stage.canvas.width;
                canvasH = stage.canvas.height;

                console.log("CANVAS WIDTH: " + canvasW);
                console.log("CANVAS HEIGHT: " + canvasH);

                manifest = [
                    {src:"/assets/ball_blue.png", id:"ball_blue"},
                    {src:"/assets/hexagon.png", id:"sky"},
                    {src:"/assets/ball_red.png", id:"ball_red"},
                    {src:"/assets/ball_green.png", id:"ball_green"},
                    {src:"http://createjs.com/Demos/EaselJS/assets/parallaxHill2.png", id:"hill2"}
                ];

                loader = new createjs.LoadQueue(false);
                loader.addEventListener("complete", handleComplete);
                loader.loadManifest(manifest);

            }

            function handleComplete() {

                //Load the background image and scale it according to canvas height/width.
                skyImage = loader.getResult("sky");
                sky = new createjs.Shape();

                //offset here is just zooming the image in 20% and cutting off the edges
                var xOffset = (canvasW * 0.2);
                var yOffset = (canvasH * 0.2);

                sky.scaleX = (canvasW + xOffset) / skyImage.width;
                sky.scaleY = (canvasH + yOffset) / skyImage.height;

                sky.x = -(xOffset/2);
                sky.y = -(yOffset/2);
                sky.graphics.beginBitmapFill(skyImage).drawRect(0,0,canvasW + skyImage.width, canvasH + skyImage.height);

                stage.addChild(sky);

            }

            var ticker = function() {
                Ticker.setFPS(30);
                //Ticker.useRAF = true;
                Ticker.addListener(crunchycreatures.demo);  // looks for "tick" function within the luxanimals.demo object
            }

            return {
                canvas: canvas,
                ticker: ticker
            }
        })();

        /* ------- Birds --------- */
// bitmap birds to be sent to box2d

        var birds = (function() {

            var spawn = function() {

                var ball = loader.getResult("ball_blue");//"ball_blue.png";
                var colorball = Math.round(Math.random()*30);
                if (colorball % 3 ==0)
                    ball = loader.getResult("ball_green");//"ball_green.png";
                if (colorball % 5 ==0)
                    ball = loader.getResult("ball_red");//"ball_red.png";

                var birdBMP = new Bitmap(ball);//new Bitmap("http://www.luxanimals.com/tutorials/birds/images/bird.png");
                birdBMP.x = Math.round(Math.random()*30);//Math.round(Math.random()*500);
                birdBMP.y = 155;//Math.round(Math.random()*500); //-30;
                birdBMP.regX = 25;   // important to set origin point to center of your bitmap
                birdBMP.regY = 25;
                birdBMP.snapToPixel = true;
                birdBMP.mouseEnabled = false;
                stage.addChild(birdBMP);
                box2d.createBird(birdBMP);
            }

            return {
                spawn: spawn
            }
        })();

        /* ------- Box2D --------- */
// handles all physics movement

        var box2d = (function() {

            // important box2d scale and speed vars
            var SCALE = 30, STEP = 40, TIMESTEP = 1/STEP, BODIESALLOWED = 15;

            var world;
            var lastTimestamp = Date.now();
            var fixedTimestepAccumulator = 0;
            var bodiesToRemove = [];
            var actors = [];
            var bodies = [];

            // box2d world setup and boundaries
            var setup = function() {

                world = new b2World(new b2Vec2(1,1), true); //(0, 10)
                addDebug();

                //for rectangle boundary xy position
                var rectOffsetA = 25;
                var rectOffsetB = 10;
                var rectDensity = 1;
                var rectFriction = 2;

                // boundaries - ceiling
                var topFixture = new b2FixtureDef;
                topFixture.density = rectDensity;
                topFixture.friction = rectFriction;
                //topFixture.restitution = 1;
                topFixture.shape = new b2PolygonShape;
                topFixture.shape.SetAsBox( (canvasW + rectOffsetA) / SCALE, rectOffsetB / SCALE); //pixels x, y /box2d SCALE conversion
                var topBodyDef = new b2BodyDef;
                topBodyDef.type = b2Body.b2_staticBody;
                topBodyDef.position.x = -rectOffsetA / SCALE;
                topBodyDef.position.y = -rectOffsetB / SCALE;
                var top = world.CreateBody(topBodyDef);
                top.CreateFixture(topFixture);
                // boundaries - floor
                var floorFixture = new b2FixtureDef;
                floorFixture.density = rectDensity;
                floorFixture.friction = rectFriction;
                //floorFixture.restitution = 1;
                floorFixture.shape = new b2PolygonShape;
                floorFixture.shape.SetAsBox( (canvasW + rectOffsetA) / SCALE, rectOffsetB / SCALE);
                var floorBodyDef = new b2BodyDef;
                floorBodyDef.type = b2Body.b2_staticBody;
                floorBodyDef.position.x = -rectOffsetA / SCALE;
                floorBodyDef.position.y = (canvasH + rectOffsetB) / SCALE;
                var floor = world.CreateBody(floorBodyDef);
                floor.CreateFixture(floorFixture);
                // boundaries - left
                var leftFixture = new b2FixtureDef;
                leftFixture.density = rectDensity;
                leftFixture.friction = rectFriction;
                leftFixture.shape = new b2PolygonShape;
                leftFixture.shape.SetAsBox(rectOffsetB / SCALE, (canvasH + rectOffsetA) / SCALE);
                var leftBodyDef = new b2BodyDef;
                leftBodyDef.type = b2Body.b2_staticBody;
                leftBodyDef.position.x = -rectOffsetB / SCALE;
                leftBodyDef.position.y = -rectOffsetA / SCALE;
                var left = world.CreateBody(leftBodyDef);
                left.CreateFixture(leftFixture);
                // boundaries - right
                var rightFixture = new b2FixtureDef;
                rightFixture.density = rectDensity;
                rightFixture.friction = rectFriction;
                rightFixture.shape = new b2PolygonShape;
                rightFixture.shape.SetAsBox(rectOffsetB / SCALE, (canvasH + rectOffsetA) / SCALE);
                var rightBodyDef = new b2BodyDef;
                rightBodyDef.type = b2Body.b2_staticBody;
                rightBodyDef.position.x = (canvasW + rectOffsetB) / SCALE;
                rightBodyDef.position.y = -rectOffsetA / SCALE;
                var right = world.CreateBody(rightBodyDef);
                right.CreateFixture(rightFixture);

                //TRIANGLES
                //for triangle boundary xy position
                var triOffsetC = -150;
                var triOffsetD = 0;
                var triDensity = 1;
                var triFriction = 2;

                //triangle top right
                var triTopRight = new b2FixtureDef;
                triTopRight.shape = new b2PolygonShape;
                triTopRight.density = triDensity;
                triTopRight.friction = triFriction;
                triTopRight.shape.SetAsArray([
                    new b2Vec2(0, 0),
                    new b2Vec2(5, 0),
                    new b2Vec2(5, 5)], 3
                ); //triangle shape
                var triTopRightBodyDef = new b2BodyDef;
                triTopRightBodyDef.type = b2Body.b2_staticBody;
                triTopRightBodyDef.position.Set( (canvasW + triOffsetC) / SCALE, (triOffsetD) / SCALE);
                var tri = world.CreateBody(triTopRightBodyDef);
                tri.CreateFixture(triTopRight);
                //triangle top left
                var triTopLeft = new b2FixtureDef;
                triTopLeft.shape = new b2PolygonShape;
                triTopLeft.density = triDensity;
                triTopLeft.friction = triFriction;
                //triTopLeft.angle = 0;
                triTopLeft.shape.SetAsArray([
                    new b2Vec2(5, 0),
                    new b2Vec2(0, 5),
                    new b2Vec2(0, 0)], 3
                ); //triangle shape
                var triTopLeftBodyDef = new b2BodyDef;
                triTopLeftBodyDef.type = b2Body.b2_staticBody;
                triTopLeftBodyDef.position.Set( (triOffsetD) / SCALE, (triOffsetD) / SCALE);
                var tri2 = world.CreateBody(triTopLeftBodyDef);
                tri2.CreateFixture(triTopLeft);
                //triangle bottom left
                var triBottomLeft = new b2FixtureDef;
                triBottomLeft.shape = new b2PolygonShape;
                triBottomLeft.density = triDensity;
                triBottomLeft.friction = triFriction;
                //triBottomLeft.angle = 0;
                triBottomLeft.shape.SetAsArray([
                    new b2Vec2(5, 5),
                    new b2Vec2(0, 5),
                    new b2Vec2(0, 0)], 3
                ); //triangle shape
                var triBottomLeftBodyDef = new b2BodyDef;
                triBottomLeftBodyDef.type = b2Body.b2_staticBody;
                triBottomLeftBodyDef.position.Set( (triOffsetD) / SCALE, (canvasH + triOffsetC) / SCALE);
                var tri3 = world.CreateBody(triBottomLeftBodyDef);
                tri3.CreateFixture(triBottomLeft);



            }

            // box2d debugger
            var addDebug = function() {
                var debugDraw = new b2DebugDraw();
                debugDraw.SetSprite(debugContext);
                debugDraw.SetDrawScale(SCALE);
                debugDraw.SetFillAlpha(0.7);
                debugDraw.SetLineThickness(1.0);
                debugDraw.SetFlags(b2DebugDraw.e_shapeBit | b2DebugDraw.e_jointBit);
                world.SetDebugDraw(debugDraw);
            }

            // actor object - this is responsible for taking the body's position and translating it to your easel display object
            var actorObject = function(body, skin) {
                this.body = body;
                this.skin = skin;
                this.update = function() {  // translate box2d positions to pixels
                    this.skin.rotation = this.body.GetAngle() * (180 / Math.PI);
                    this.skin.x = this.body.GetWorldCenter().x * SCALE;
                    this.skin.y = this.body.GetWorldCenter().y * SCALE;
                }
                actors.push(this);
            }

            // create bird body shape and assign actor object
            var createBird = function(skin) {
                var birdFixture = new b2FixtureDef;
                birdFixture.density = 0.003; //1;
                birdFixture.restitution = 1.14 ;//0.6;
                birdFixture.friction = 0.5;
                birdFixture.shape = new b2CircleShape(24 / SCALE);
                var birdBodyDef = new b2BodyDef;
                birdBodyDef.type = b2Body.b2_dynamicBody;
                birdBodyDef.position.x = skin.x / SCALE;
                birdBodyDef.position.y = skin.y / SCALE;
                var bird = world.CreateBody(birdBodyDef);
                bird.CreateFixture(birdFixture);

                // assign actor
                var actor = new actorObject(bird, skin);
                bird.SetUserData(actor);  // set the actor as user data of the body so we can use it later: body.GetUserData()
                bodies.push(bird);
            }

            // remove actor and it's skin object
            var removeActor = function(actor) {
                stage.removeChild(actor.skin);
                actors.splice(actors.indexOf(actor),1);
            }

            // box2d update function. delta time is used to avoid differences in simulation if frame rate drops
            var update = function() {
                var now = Date.now();
                var dt = now - lastTimestamp;
                fixedTimestepAccumulator += dt;
                lastTimestamp = now;
                while(fixedTimestepAccumulator >= STEP) {
                    // remove bodies before world timestep
                    for(var i=0, l=bodiesToRemove.length; i<l; i++) {
                        removeActor(bodiesToRemove[i].GetUserData());
                        bodiesToRemove[i].SetUserData(null);
                        world.DestroyBody(bodiesToRemove[i]);
                    }
                    bodiesToRemove = [];

                    // update active actors
                    for(var i=0, l=actors.length; i<l; i++) {
                        actors[i].update();
                    }

                    world.Step(TIMESTEP, 10, 10);

                    fixedTimestepAccumulator -= STEP;
                    world.ClearForces();
                    world.m_debugDraw.m_sprite.graphics.clear();
                    world.DrawDebugData();
                    if(bodies.length > BODIESALLOWED) {
                        bodiesToRemove.push(bodies[0]);
                        bodies.splice(0,1);
                    }
                }
            }

            var pauseResume = function(p) {
                if(p) { TIMESTEP = 0;
                } else { TIMESTEP = 1/STEP; }
                lastTimestamp = Date.now();
            }

            return {
                setup: setup,
                update: update,
                createBird: createBird,
                pauseResume: pauseResume
            }
        })();

        /* ------- UPDATE -------- */
// main update loop for rendering assets to canvas

        var tick = function(dt, paused) {
            if(focused) {
                box2d.update();
                stage.update();

                birdDelayCounter++;
                if(birdDelayCounter % 50 === 0) {  // delay so it doesn't spawn a bird on every frame
                    birdDelayCounter = 0;
                    birds.spawn();
                }
            }
        }

        /* ------- GLOBAL -------- */
// main global functions

        return {
            tick: tick
        }

    }());



</script>








</div> <!-- /container -->