
<%= render "welcome/header" %>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron alert-danger" style="padding=0; margin-bottom=0px;">
  <div class="container ">
    <h2><b>Ruby on Rails Sample App</b></h2>
    <p>This is a sample app created using the Rails Getting Started tutorial, my 'RubyRaptor' Debian7 CloudAtCost server,
      Vim text editor, RubyMine IDE, and bootstrap-sass css.</p>
    <p>
      <%= link_to '<span class="glyphicon glyphicon-star"></span> The Blog App &raquo;'.html_safe, posts_path, :class=> "btn btn-danger btn-lg" %>
    </p>
  </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron alert-info" style="padding=0; margin=0;">
  <div class="container ">
    <h2><b>HTML5 Sample Game/Animation</b></h2>
    <p>This was created using CreateJS, EaselJS, and Box2dWeb. It features balls bouncing around an arena, and a paddle you
    can interact with using arrow keys. I am still adding to it.</p>
    <p>
      <%= link_to '<span class="glyphicon glyphicon-star"></span> The Game/Animation &raquo;'.html_safe, welcome_easeljs_path, :class=> "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>

<div class="container theme-showcase">


<h3> These pages are a work-in-progress  </h3>

<p/>


</div> <!-- /container -->