

<%= render "welcome/header" %>      

<div style="color:red"> RubyRaptor </div>

<h3> Rails Sample Blog Application  </h3>

<p/>

<h4> BUT WAIT, THERE's MORE! </h4>
(but not yet because I'm still going through the tutorial...)

<p/>
<p/>

<%= link_to "My Blog (of words and such things)", controller: "posts" %>



