
<%= render "welcome/header" %>      

<div style="color:#ff524d"> RubyRaptor </div>

<h3> Rails Sample Blog Application  </h3>

<p/>

<h4> RUBYMINE TEST 2 </h4>


<p/>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> Star
</button>

<p/>

<%= link_to "My Blog (of words and such things)", controller: "posts" %>

<p/>

A wild GitHub appeared!



