
<%= render "welcome/header" %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron alert-danger">
  <div class="container ">

    <h2><span class="glyphicon glyphicon-pencil" /></span> <b> Edit Entry</b>

    </h2>
    <p></p>



    <div class="panel " style="border-color:rgb(207, 74, 72)">

      <div class="panel-heading navbar-inverse" >
        <h3 class="panel-title"> </h3>
      </div>
      <div class="panel-body" style="font-size: 14px">

        <%= render 'form' %>


        <%= link_to 'Back', posts_path %>
      </div>

    </div>


  </div>
</div>


<div class="container theme-showcase">

</div> <!-- /container -->


